

.Menu{
    overflow: hidden;
    align-items: center;  
    min-height: 80vh;
    padding-top: 60px;
    background-color: 'black';
   }
.Doc{
    text-align: center;
    align-items: center;
    overflow: hidden;
    min-height: 80vh;
}


