
.Login{
    min-height: 68vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-top: 60px;
    
    background-repeat: no-repeat;
    
    
}


.FormD{
    margin: auto;
    width: 30%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: none;
    box-sizing: border-box;
    overflow: hidden;
    height: 35vh;
    transform: translateX(50px)
    translateY(-60px);
    
    
    
}
.FormD button{
    background: transparent;
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    color: rgb(91, 194, 54);
    cursor: pointer;
    padding: 30px;
    margin-bottom: 1.5px;
}
.FormD button:disabled{
    cursor: not-allowed;
    color: gray;
}
.FormD button:hover{
    color: rgb(91, 194, 54);
    outline: none;
    border: none;
}
.FormD button:focus{
    outline: none;
    border: none;
    color: rgb(91, 194, 54);
}
.FormD h1{
    font-weight: bold;
    font-size: 20px;
    color: gray;
}
.FormD h3{
    font-size: 12px;
    color: black;
    padding: 5px;
}
.FormD h3 button{
    font-size: 12px;
    font-family: inherit;
    border: none;
    color: rgb(91, 194, 54);
    padding: 7px;
}
.FormD h3 button:hover{
    color: rgb(91, 194, 54);
    text-decoration: underline;
}


.Img{
 
    width: 600px;
    border-radius: 70px;
    transform: rotate(-30deg);
}
.FormP{
    margin: 20px auto;
    width: 30%;
    height: 35vh;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateX(10px)
    translateY(50px);
    
}
.FormP button{
    background: transparent;
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
    border: none;
    color: rgb(91, 194, 54);
    cursor: pointer;
    padding: 30px;
    margin-bottom: 1.5px;
}
.FormP button:disabled{
    cursor: not-allowed;
    color: gray;
}
.FormP button:hover{
    color: rgb(91, 194, 54);
    outline: none;
    border: none;
}
.FormP button:focus{
    outline: none;
    border: none;
    color: rgb(91, 194, 54);
}
.FormP h1{
    font-weight: bold;
    font-size: 20px;
    color: gray;
}
.FormP h3{
    font-size: 12px;
    color: black;
    padding: 5px;
}
.FormP h3 button{
    font-size: 12px;
    font-family: inherit;
    border: none;
    color: rgb(91, 194, 54);
    padding: 7px;
}
.FormP h3 button:hover{
    color: rgb(91, 194, 54);
    text-decoration: underline;
}
.Google{
    height: 1.9vmin;
}
.Imgg{
    height: 200px;
    width: 200px;
    border-radius: 200px;
    transform: translateY(40px)
    translateX(-360px);
}